TOKEN_SECRET = ''
ACCESS_TOKEN_EXPIRY_STRING = ""
ACCESS_TOKEN_EXPIRY_INTEGER = 
USER_LRU_CACHE_SIZE = 
EXAM_LRU_CACHE_SIZE = 
MAIL_SERVER_NAME = 
EMAIL_SERVER_LOGIN = 
EMAIL_SERVER_PASS = 
MAIL_SERVER_PORT = 
DB_LOGIN = 
DB_PASSWORD = 
DB_NAME = 
SALT_ROUNDS=

